<%= form_for(@fgp_soldier) do |f| %>
  <% if @fgp_soldier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fgp_soldier.errors.count, "error") %> prohibited this soldier from being saved:</h2>

      <ul>
      <% @fgp_soldier.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :item %>
    <%= f.text_field :item %>
  </div>

<%= f.hidden_field :frost_grave_participant_id, :value => params[:fgp_id] %>
 
  <div class="actions">
      <%= f.submit "Update Solder", class: "btn btn-primary" %>
  </div>

<% end %>
