<div class="col-xs-12 .col-sm-6 .col-md-8", id="content">  
<p id="notice"><%= notice %></p>

<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>


<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<% if @user.campaigns.any? %>

<ol class="campaigns">
  <%= render @campaigns %>
</ol>
<%= will_paginate @campaigns %>

<% end %>
<div class="container">
<%= link_to "Create New Campaign", create_campaigns_path, class: "btn btn-lg btn-primary" %>
</div>
</div>