<p id="notice"><%= notice %></p>

<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>


<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<% if @user.campaigns.any? %>

<ol class="campaigns">
  <%= render @campaigns %>
</ol>
<%= will_paginate @campaigns %>

<% end %>
<div class="container">
<%= link_to "Create New campaigns", create_campaigns_path, class: "btn btn-lg btn-primary" %>
</div>