<div class="col-xs-12 col-sm-12 col-md-12", id="content">  
	
	<div class="col-md-6 col-md-offset-3">
	<p id="notice"><%= notice %></p>

	
		<%= gravatar_for @user %>
		<p>
	  		<%= @user.name %>
		</p>
		<% if @user.id == current_user.id %>
			<p> <%= link_to 'Edit Profile', edit_user_path(current_user) %>
		<% end %>
	</div>
</div>

<% if @user.campaigns.any? %>
<div class="col-xs-12 col-sm-12 col-md-12", id="content">
	<div class="col-md-6 col-md-offset-3">	
		
		<h2> Campaigns </h2>
		<ol class="campaigns">
		  <%= render @campaigns %>
		</ol>
		<%= will_paginate @campaigns %>

		

		<% if @user.id == current_user.id %>
			<div class="col-md-3 col-md-offset-3">	
			<%= link_to "Create New Campaign", create_campaigns_path, class: "btn btn-lg btn-primary" %>
			</div>
		<% end %>

	</div>
</div>
<% end %>

<% if @warbands.any? %>
	<div class="col-xs-12 col-sm-12 col-md-12", id="content">
	<div class="col-md-6 col-md-offset-3">	
	<h2> My Warbands </h2>
		<ol class="campaigns">
		  <%= render @warbands %>
		</ol>
		<%= will_paginate @warbands %>

	</div>
</div>
<% end %>
<!--
<div class="col-xs-12 col-sm-12 col-md-12", id="content">
	<div class="col-md-6 col-md-offset-3">	
	<h2> Tournaments </h2>
	<% if @tournaments.any? %>
		<ol class="campaigns">
		  <%= render @tournaments %>
		</ol>
		<%= will_paginate @tournaments %>
	<% end %>
	<% if @user.id == current_user.id %>
	  <%= link_to "Create New Tournament", create_tournaments_path, class: "btn btn-lg btn-primary" %>
	<% end %>

	</div>
</div>

<div class="col-xs-12 col-sm-12 col-md-12", id="content">
	<div class="col-md-6 col-md-offset-3">	
	<h2> <% if @user.id == current_user.id %> My <% end %> Tournament Attendance </h2>
	<% if @tournament_participations.any? %>
		<ol class="campaigns">
		  <%= render @tournament_participations %>
		</ol>
		<%= will_paginate @tournament_participations %>
		<% else %>
		<% if @user.id == current_user.id %>
			<p> You haven't signed up for any events!</p>
			<% else %>
			<p> This user hasn't signed up for any events </p>
		<% end %>
	<% end %>


	</div>
</div>
-->