<p id="notice"><%= notice %></p>

<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>


<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<% if @user.campaign.any? %>

<ol class="campaigns">
  <%= render @campaign %>
</ol>
<%= will_paginate @campaign %>

<% end %>
<div class="container">
<%= link_to "Create New Campaign", create_campaign_path, class: "btn btn-lg btn-primary" %>
</div>