<%= form_for(@tournaments) do |f| %>
  <% if @tournaments.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tournaments.errors.count, "error") %> prohibited this tournaments from being saved:</h2>

      <ul>
      <% @tournaments.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
  </div>

  <div class="actions">
      <%= f.submit "Create Tournament", class: "btn btn-primary" %>
  </div>


<% end %>
