<%= form_for(@spell) do |f| %>
  <% if @spell.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@spell.errors.count, "error") %> prohibited this warband from being saved:</h2>

      <ul>
      <% @spell.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="textarea">
  <%= f.label :discipline, 'Select Spell Discipline' %>
  <%= select :spell, :discipline, SpellsController::DISCIPLINES, {prompt: true}%>
</div>

<div class="js-dependent-fields" data-select-id="spell_discipline" data-option-value="Chronomancer">
  <% @chrono = @default_spells.where(:discipline => "Chronomancer") %>
  <% @chrono.each do |spell| %>
    <div class="selectable_spell">
    <p> <strong><%= spell.name %> | <%= spell.casting_value %> | <%= spell.range %> | </strong> <%= spell.description %> </p>
    <%= link_to 'Learn This Spell', spells_path({:action => :create, :spell_name => spell.name, :frost_grave_participant_id => params[:fgp_id]}), :method => :post, class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

<div class="js-dependent-fields" data-select-id="spell_discipline" data-option-value="Elementalist">
  <% @elem = @default_spells.where(:discipline => "Elementalist") %>
  <% @elem.each do |spell| %>
    <div class="selectable_spell">
    <p> <strong><%= spell.name %> | <%= spell.casting_value %> | <%= spell.range %> | </strong> <%= spell.description %> </p>
    <%= link_to 'Learn This Spell', spells_path({:action => :create, :spell_name => spell.name, :frost_grave_participant_id => params[:fgp_id]}), :method => :post, class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

<div class="js-dependent-fields" data-select-id="spell_discipline" data-option-value="Enchanter">
  <% @ench = @default_spells.where(:discipline => "Enchanter") %>
  <% @ench.each do |spell| %>
    <div class="selectable_spell">
    <p> <strong><%= spell.name %> | <%= spell.casting_value %> | <%= spell.range %> | </strong> <%= spell.description %> </p>
    <%= link_to 'Learn This Spell', spells_path({:action => :create, :spell_name => spell.name, :frost_grave_participant_id => params[:fgp_id]}), :method => :post, class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

<div class="js-dependent-fields" data-select-id="spell_discipline" data-option-value="Illusionist">
  <% @illu = @default_spells.where(:discipline => "Illusionist") %>
  <% @illu.each do |spell| %>
    <div class="selectable_spell">
    <p> <strong><%= spell.name %> | <%= spell.casting_value %> | <%= spell.range %> | </strong> <%= spell.description %> </p>
    <%= link_to 'Learn This Spell', spells_path({:action => :create, :spell_name => spell.name, :frost_grave_participant_id => params[:fgp_id]}), :method => :post, class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

<div class="js-dependent-fields" data-select-id="spell_discipline" data-option-value="Necromancer">
  <% @necro = @default_spells.where(:discipline => "Necromancer") %>
  <% @necro.each do |spell| %>
    <div class="selectable_spell">
    <p> <strong><%= spell.name %> | <%= spell.casting_value %> | <%= spell.range %> | </strong> <%= spell.description %> </p>
    <%= link_to 'Learn This Spell', spells_path({:action => :create, :spell_name => spell.name, :frost_grave_participant_id => params[:fgp_id]}), :method => :post, class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

<div class="js-dependent-fields" data-select-id="spell_discipline" data-option-value="Sigilist">
  <% @sig = @default_spells.where(:discipline => "Sigilist") %>
  <% @sig.each do |spell| %>
    <div class="selectable_spell">
    <p> <strong><%= spell.name %> | <%= spell.casting_value %> | <%= spell.range %> | </strong> <%= spell.description %> </p>
    <%= link_to 'Learn This Spell', spells_path({:action => :create, :spell_name => spell.name, :frost_grave_participant_id => params[:fgp_id]}), :method => :post, class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

<div class="js-dependent-fields" data-select-id="spell_discipline" data-option-value="Soothsayer">
  <% @sooth = @default_spells.where(:discipline => "Soothsayer") %>
  <% @sooth.each do |spell| %>
    <div class="selectable_spell">
    <p> <strong><%= spell.name %> | <%= spell.casting_value %> | <%= spell.range %> | </strong> <%= spell.description %> </p>
    <%= link_to 'Learn This Spell', spells_path({:action => :create, :spell_name => spell.name, :frost_grave_participant_id => params[:fgp_id]}), :method => :post, class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

<div class="js-dependent-fields" data-select-id="spell_discipline" data-option-value="Summoner">
  <% @summ = @default_spells.where(:discipline => "Summoner") %>
  <% @summ.each do |spell| %>
    <div class="selectable_spell">
    <p> <strong><%= spell.name %> | <%= spell.casting_value %> | <%= spell.range %> | </strong> <%= spell.description %> </p>
    <%= link_to 'Learn This Spell', spells_path({:action => :create, :spell_name => spell.name, :frost_grave_participant_id => params[:fgp_id]}), :method => :post, class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

<div class="js-dependent-fields" data-select-id="spell_discipline" data-option-value="Thaumaturge">
  <% @thaum = @default_spells.where(:discipline => "Thaumaturge") %>
  <% @thaum.each do |spell| %>
    <div class="selectable_spell">
    <p> <strong><%= spell.name %> | <%= spell.casting_value %> | <%= spell.range %> | </strong> <%= spell.description %> </p>
    <%= link_to 'Learn This Spell', spells_path({:action => :create, :spell_name => spell.name, :frost_grave_participant_id => params[:fgp_id]}), :method => :post, class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

<div class="js-dependent-fields" data-select-id="spell_discipline" data-option-value="Witch">
  <% @witch = @default_spells.where(:discipline => "Witch") %>
  <% @witch.each do |spell| %>
    <div class="selectable_spell">
    <p> <strong><%= spell.name %> | <%= spell.casting_value %> | <%= spell.range %> | </strong> <%= spell.description %> </p>
    <%= link_to 'Learn This Spell', spells_path({:action => :create, :spell_name => spell.name, :frost_grave_participant_id => params[:fgp_id]}), :method => :post, class: "btn btn-primary" %>
    </div>
  <% end %>
</div>



<%= f.hidden_field :frost_grave_participant_id, :value => params[:fgp_id] %>


<% end %>
