<li id="campaign-<%= campaign.id %>">
  
  <span class="user"><%= link_to campaign.user.name, campaign.user %></span>
  <span class="content"><%= link_to campaign.name, campaign %></span>
  <span class="content"><%= campaign.description %></span>
  
  <span class="timestamp">
    Posted <%= time_ago_in_words(campaign.created_at) %> ago.
  </span>
      <% if current_user?(campaign.user) %>
      <%= link_to "edit", edit_campaign_path(campaign.id) %>
      <%= link_to "join", new_frost_grave_participant_path(:c_id => campaign.id) %>
      <%= link_to "delete", delete_campaign_path, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
</li>