<li id="campaign-<%= campaign.id %>">
  
  <p>Created by: <%= link_to campaign.user.name, campaign.user %></p>
  <p>Name: <%= link_to campaign.name, campaign %></p>
  <p><%= campaign.description %></p>
  
  <%= link_to '<i class="glyphicon glyphicon-plus-sign"></i>'.html_safe, new_frost_grave_participant_path(:c_id => campaign.id), class: "btn btn-default" %>
</li>