<p id="notice"><%= notice %></p>

<h1>
  <%= @campaigns.name %>
</h1>

<div>
<p>

  <%= @campaigns.description %>
</p>

<h2>Warbands in this campaign:</h2>

<% @participants.each do |p| %>
<p><%= link_to p.name, frost_grave_participant_path(p)%></p>
<% end %>
<%= link_to "Join this Campaign", new_frost_grave_participant_path(:c_id => @campaigns.id), class: "btn btn-lg btn-primary" %>
</div>
