<%= form_for(@participant) do |f| %>
  <% if @participant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@participant.errors.count, "error") %> prohibited this warband from being saved:</h2>

      <ul>
      <% @participant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :wizard_name %>
  <%= f.text_field :wizard_name %>
</div>

<div>
  <table>
  <tr>
    <th><%= f.label :wizard_move, 'Move'%></th>
    <th><%= f.label :wizard_fight, 'Fight'%></th>
    <th><%= f.label :wizard_shoot, 'Shoot'%></th>
    <th><%= f.label :wizard_armour, 'Armour'%></th>
    <th><%= f.label :wizard_will, 'Will'%></th>
    <th><%= f.label :wizard_health, 'Health'%></th>
    </tr>
    <tr>
      <td> <%= f.text_field :wizard_move %></td>
      <td> <%= f.text_field :wizard_fight %></td>
      <td> <%= f.text_field :wizard_shoot %></td>
      <td> <%= f.text_field :wizard_armour %></td>
      <td> <%= f.text_field :wizard_will %></td>
      <td> <%= f.text_field :wizard_health %></td>
    </tr>
  </table>
</div>

<div class="field">
  <%= f.label :wizard_inventory_1, 'Wizard Basic Weapon' %>
  <%= select :frost_grave_participant, :wizard_inventory_1, FrostGraveParticipantsController::STARTING_WEAPONS, {selected: @participant.wizard_inventory_1} %>
</div>

<div class="field">
  <%= f.label :wizard_inventory_2, 'Wizard Additional Weapon' %>
  <%= select :frost_grave_participant, :wizard_inventory_2, FrostGraveParticipantsController::ADDITIONAL_WEAPONS, {include_blank: 'None', selected: @participant.wizard_inventory_2}%>
</div>

<div class="field">
  <%= f.label :wizard_inventory_3 %>
  <%= f.text_field :wizard_inventory_3 %>
</div>
<div class="field">
  <%= f.label :wizard_inventory_4 %>
  <%= f.text_field :wizard_inventory_4 %>
</div>
<div class="field">
  <%= f.label :wizard_inventory_5 %>
  <%= f.text_field :wizard_inventory_5 %>
</div>



<% if @participant.apprentice_hired == true %>
  <div class="field">
    <%= f.label :apprentice_name %>
    <%= f.text_field :apprentice_name %>
  </div>


  <div class="field">
    <%= f.label :apprentice_injuries, 'Apprentice Injuries'%>
    <%= f.text_area :apprentice_injuries %>
  </div>

  <div class="field">
    <%= f.label :apprentice_inventory_1, 'Apprentice Basic Weapon' %>
    <%= select :frost_grave_participant, :apprentice_inventory_1, FrostGraveParticipantsController::STARTING_WEAPONS, {selected: @participant.apprentice_inventory_1} %>
  </div>

  <div class="field">
    <%= f.label :apprentice_inventory_2, 'Apprentice Additional Weapon' %>
    <%= select :frost_grave_participant, :apprentice_inventory_2, FrostGraveParticipantsController::ADDITIONAL_WEAPONS, {include_blank: 'None', selected: @participant.apprentice_inventory_2} %>
  </div>

  <div class="field">
    <%= f.label :apprentice_inventory_3 %>
    <%= f.text_field :apprentice_inventory_3 %>
  </div>
  <div class="field">
    <%= f.label :apprentice_inventory_4 %>
    <%= f.text_field :apprentice_inventory_4 %>
  </div>
<% else %>
  <div class="apprentice_checkbox">
    <%= f.label :apprentice_hired, 'Hire Apprentice? (200GC)' %>
    <%= f.check_box :apprentice_hired %>
  </div>

  <div class="js-dependent-fields" data-checkbox-id="frost_grave_participant_apprentice_hired" data-checkbox-value="true">

    <div class="field">
      <%= f.label :apprentice_name %>
      <%= f.text_field :apprentice_name %>
    </div>
    <div class="field">
      <%= f.label :apprentice_inventory_1, 'Apprentice Basic Weapon' %>
      <%= select :frost_grave_participant, :apprentice_inventory_1, FrostGraveParticipantsController::STARTING_WEAPONS, {selected: 1} %>
    </div>

    <div class="field">
     <%= f.label :apprentice_inventory_2, 'Apprentice Additional Weapon' %>
     <%= select :frost_grave_participant, :apprentice_inventory_2, FrostGraveParticipantsController::ADDITIONAL_WEAPONS, {include_blank: 'None'}%>
    </div>

  </div>
<% end %>

 <div class="actions">
      <%= f.submit "Update Warband", class: "btn btn-primary" %>
  </div>


<% end %>
