<%= form_for(@participant) do |f| %>
  <% if @participant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@participant.errors.count, "error") %> prohibited this warband from being saved:</h2>

      <ul>
      <% @participant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :wizard_name %>
  <%= f.text_field :wizard_name %>
</div>

<div class="textarea">
  <%= f.label :wizard_discipline %>
  <%= select :frost_grave_participant, :wizard_discipline, SpellsController::DISCIPLINES, {selected: 1} %>
</div>


<div class="field">
  <%= f.label :wizard_inventory_1, 'Wizard Basic Weapon' %>
  <%= select :frost_grave_participant, :wizard_inventory_1, FrostGraveParticipantsController::STARTING_WEAPONS, {selected: 1} %>
</div>

<div class="field">
  <%= f.label :wizard_inventory_2, 'Wizard Additional Weapon' %>
  <%= select :frost_grave_participant, :wizard_inventory_2, FrostGraveParticipantsController::ADDITIONAL_WEAPONS, {include_blank: 'None'}%>
</div>

<div class="apprentice_checkbox">
  <%= f.label :apprentice_hired, 'Hire Apprentice? (200GC)' %>
  <%= f.check_box :apprentice_hired %>
</div>

<div class="js-dependent-fields" data-checkbox-id="frost_grave_participant_apprentice_hired" data-checkbox-value="true">

  <div class="field">
    <%= f.label :apprentice_name %>
    <%= f.text_field :apprentice_name %>
  </div>
  <div class="field">
    <%= f.label :apprentice_inventory_1, 'Apprentice Basic Weapon' %>
    <%= select :frost_grave_participant, :apprentice_inventory_1, FrostGraveParticipantsController::STARTING_WEAPONS, {selected: 1} %>
  </div>

  <div class="field">
   <%= f.label :apprentice_inventory_2, 'Apprentice Additional Weapon' %>
   <%= select :frost_grave_participant, :apprentice_inventory_2, FrostGraveParticipantsController::ADDITIONAL_WEAPONS, {include_blank: 'None'}%>
  </div>

</div>

  <div class="field">
   <%= f.label :campaign_password, 'Enter the Join password (The campaign creator can set or edit this)' %>
   <%= f.text_field :campaign_password %>
  </div>

<%= f.hidden_field :campaign_id, :value => params[:c_id] %>


 <div class="actions">
      <%= f.submit "Create Warband", class: "btn btn-primary" %>
  </div>


<% end %>
