<p id="notice"><%= notice %></p>

<h1>
  <%= @participant.name %>
</h1>

<div>
<p>
  <strong>Led by the <%= @participant.wizard_discipline %>:</strong>  <%= @participant.wizard_name %> <strong> Level: </strong> <%= @participant.wizard_level %> <strong> XP: </strong> <%= @participant.wizard_xp %> 
</p>
<table>
  <tr>
    <th>Move</th>
    <th>Fight</th>
    <th>Shoot</th>
    <th>Armour</th>
    <th>Will</th>
    <th>Health</th>
    <th>Inventory</th>
  </tr>
      <tr>
      <td><%= @participant.wizard_move %></td>
      <td><%= @participant.wizard_fight %></td>
      <td><%= @participant.wizard_shoot %></td>
      <td><%= @participant.wizard_armour %></td>
      <td><%= @participant.wizard_will %></td>
      <td><%= @participant.wizard_health %></td>
      <td><%= @participant.wizard_inventory_1 %> <%= @participant.wizard_inventory_2 %> <%= @participant.wizard_inventory_3 %>
          <%= @participant.wizard_inventory_4 %> <%= @participant.wizard_inventory_5 %></td>
    </tr>
  </table>

  <div>
    <p><strong>Wizard Injuries</strong></p>
    <p><%= @participant.wizard_injuries %></p>
  </div>

<% if @participant.apprentice_name != "" %>
  <p>
    <strong>And their apprentice: </strong> <%= @participant.apprentice_name %>
  </p>
<table>
  <tr>
    <th>Move</th>
    <th>Fight</th>
    <th>Shoot</th>
    <th>Armour</th>
    <th>Will</th>
    <th>Health</th>
    <th>Inventory</th>
  </tr>
      <tr>
      <td><%= @participant.apprentice_move %></td>
      <td><%= @participant.apprentice_fight %></td>
      <td><%= @participant.apprentice_shoot %></td>
      <td><%= @participant.apprentice_armour %></td>
      <td><%= @participant.apprentice_will %></td>
      <td><%= @participant.apprentice_health %></td>
      <td><%= @participant.apprentice_inventory_1 %> <%= @participant.apprentice_inventory_2 %>
          <%= @participant.apprentice_inventory_3 %> <%= @participant.apprentice_inventory_4 %></td>
    </tr>
  </table>

  <div>
    <p><strong>Apprentice Injuries</strong></p>
    <p><%= @participant.apprentice_injuries %></p>
  </div>

<% end %>
<h2>Spells</h2>
<% if @spells.any? %>
  <table>
    <tr>
      <th>Discipline</th>
      <th>Spell Name</th>
      <th>Casting Value</th>
      <th>Range</th>
      <th>Description</th>
    </tr>
    <% @spells.each do |spell| %>
      <tr> 
        <td><%= spell.discipline %></td> 
        <td><%= spell.name %></td> 
        <td><%= spell.casting_value %></td> 
        <td><%= spell.range %></td> 
        <td><%= spell.description %></td> 
        <% if @participant.user_id == current_user.id %>
          <td><%= link_to 'Update', edit_spell_path(spell.id) %> </td>
          <td><%= link_to 'Delete', delete_spell_path(:id => spell.id), method: :delete,
                                       data: { confirm: "You sure?" } %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>
<% if @participant.user_id == current_user.id %>
  <%= link_to 'Learn a new spell', create_spell_path(:fgp_id => @participant.id) %>
<% end %>

<h2> Item Stash  ----  Current Gold Cache: <%= @participant.gold_cache %></h2>
  <% if @items.any? %>
    <% @items.each do |item| %>
      <p><%= item.name %> | <%= item.description %> | <%= item.cost %> | <%= link_to "Sell for #{item.sale_price}", fgp_item_path(item), method: :delete, data: { confirm: "You sure?" }%></p>
    <% end %>
  <% end %>
<div>
  <%= link_to "Loot an Item", new_fgp_item_path(:fgp_id => @participant.id, :looted => "true"), class: "btn btn-lg btn-primary" %>
  <%= link_to "Purchase an Item", new_fgp_item_path(:fgp_id => @participant.id, :looted => "false"), class: "btn btn-lg btn-primary" %>

</div>

<h2>Base of Operations</h2>
<% if @base != nil %>
  <p><strong>Location : </strong><%= @base.location %></p>
  <p><strong>Benefits : </strong><%= @base.effects %></p>
  <% if @participant.user_id == current_user.id %>
   <%= link_to 'Change', edit_base_path(:id => @base.id) %> 
   <%= link_to 'Remove', delete_base_path(:id => @base.id), method: :delete,
                                       data: { confirm: "You sure?" } %>
  <% end %>
<% else %>
  <% if @participant.user_id == current_user.id %>
    <%= link_to 'Establish a base', create_base_path(:fgp_id => @participant.id), class: "btn btn-primary"%>
  <% end %>
<% end %>

<h2>Soldiers</h2>
<table>
  <tr>
    <th>Name</th>
    <th>Class</th> 
    <th>Move</th>
    <th>Fight</th>
    <th>Shoot</th>
    <th>Armour</th>
    <th>Will</th>
    <th>Health</th>
    <th>Cost</th>
    <th>Notes</th>
    <th>Item</th>
  </tr>
  <% if @participant.soldier_1_type != "" %>
   <% @s = Soldier.find_by_class_name(@participant.soldier_1_type) %>
    <tr>
      <td><%= @participant.soldier_1_name %></td>
      <td><%= @s.class_name %></td> 
      <td><%= @s.move %></td>
      <td><%= @s.fight %></td>
      <td><%= @s.shoot %></td>
      <td><%= @s.armour %></td>
      <td><%= @s.will %></td>
      <td><%= @s.health %></td>
      <td><%= @s.cost %></td>
      <td><%= @s.notes %></td>
      <td><%= @participant.soldier_1_item %></td>
    </tr>
  <% end %>

</table>

<% if @participant.user_id == current_user.id %>
  <%= link_to "Update this Warband", edit_frost_grave_participant_path(@participant.id), class: "btn btn-lg btn-primary" %>
  <%= link_to "Delete this Warband", delete_frostgrave_participant_path(:id => @participant.id), method: :delete,
                                       data: { confirm: "You sure?" }, class: "btn btn-lg btn-primary" %>
<% end %>
</div>
