<p id="notice"><%= notice %></p>

<h1>
  <%= @participant.name %>
</h1>

<div>
<p>
  Led by the great and powerful:  <%= @participant.wizard_name %>
</p>
<% if @participant.apprentice_name != "" %>
  <p>
    And their apprentice:  <%= @participant.apprentice_name %>
  </p>
<% end %>
<h2>Spells</h2>
<% if @spells.any? %>
  <table>
    <tr>
      <th>Discipline</th>
      <th>Spell Name</th>
      <th>Casting Value</th>
      <th>Range</th>
      <th>Description</th>
    </tr>
    <% @spells.each do |spell| %>
      <tr> 
        <td><%= spell.discipline %></td> 
        <td><%= spell.name %></td> 
        <td><%= spell.casting_value %></td> 
        <td><%= spell.range %></td> 
        <td><%= spell.description %></td> 
        <td><%= link_to 'Update', edit_spell_path(spell.id) %> </td>
        <td><%= link_to 'Delete', delete_spell_path(:id => spell.id), method: :delete,
                                       data: { confirm: "You sure?" } %></td>
      </tr>
    <% end %>
  </table>
<% end %>
<%= link_to 'Learn a new spell', create_spell_path(:fgp_id => @participant.id) %>
<h2>Soldiers</h2>
<table>
  <tr>
    <th>Name</th>
    <th>Class</th> 
    <th>Move</th>
    <th>Fight</th>
    <th>Shoot</th>
    <th>Armour</th>
    <th>Will</th>
    <th>Health</th>
    <th>Cost</th>
    <th>Notes</th>
  </tr>
  <% if @participant.soldier_1_type != "" %>
   <% @s = Soldier.find_by_class_name(@participant.soldier_1_type) %>
  	<tr>
    	<td><%= @participant.soldier_1_name %></td>
    	<td><%= @s.class_name %></td> 
    	<td><%= @s.move %></td>
    	<td><%= @s.fight %></td>
    	<td><%= @s.shoot %></td>
    	<td><%= @s.armour %></td>
    	<td><%= @s.will %></td>
    	<td><%= @s.health %></td>
    	<td><%= @s.cost %></td>
    	<td><%= @s.notes %></td>
  	</tr>
  <% end %>
  <% if @participant.soldier_2_type != "" %>
  	  <% @s = Soldier.find_by_class_name(@participant.soldier_2_type) %>
      	<tr>
      	<td><%= @participant.soldier_2_name %></td>
      	<td><%= @s.class_name %></td> 
      	<td><%= @s.move %></td>
      	<td><%= @s.fight %></td>
      	<td><%= @s.shoot %></td>
      	<td><%= @s.armour %></td>
      	<td><%= @s.will %></td>
      	<td><%= @s.health %></td>
      	<td><%= @s.cost %></td>
      	<td><%= @s.notes %></td>
  	 </tr>
  	<% end %>
  	<% if @participant.soldier_3_type != "" %>
  	  <% @s = Soldier.find_by_class_name(@participant.soldier_3_type) %>
  	   	<tr>
      		<td><%= @participant.soldier_3_name %></td>
      		<td><%= @s.class_name %></td> 
        	<td><%= @s.move %></td>
        	<td><%= @s.fight %></td>
        	<td><%= @s.shoot %></td>
        	<td><%= @s.armour %></td>
        	<td><%= @s.will %></td>
    	     <td><%= @s.health %></td>
    	   <td><%= @s.cost %></td>
    	   <td><%= @s.notes %></td>
  		  </tr>
  	<% end %>
  	<% if @participant.soldier_4_type != "" %>
  	  <% @s = Soldier.find_by_class_name(@participant.soldier_4_type) %>
      	<tr>
      	<td><%= @participant.soldier_4_name %></td>
      	<td><%= @s.class_name %></td> 
      	<td><%= @s.move %></td>
      	<td><%= @s.fight %></td>
      	<td><%= @s.shoot %></td>
      	<td><%= @s.armour %></td>
      	<td><%= @s.will %></td>
      	<td><%= @s.health %></td>
      	<td><%= @s.cost %></td>
      	<td><%= @s.notes %></td>
  	 </tr>
  	<% end %>
  	<% if @participant.soldier_5_type != "" %>
  	  <% @s = Soldier.find_by_class_name(@participant.soldier_5_type) %>
  	<tr>
    	<td><%= @participant.soldier_5_name %></td>
    	<td><%= @s.class_name %></td> 
    	<td><%= @s.move %></td>
    	<td><%= @s.fight %></td>
    	<td><%= @s.shoot %></td>
    	<td><%= @s.armour %></td>
    	<td><%= @s.will %></td>
    	<td><%= @s.health %></td>
    	<td><%= @s.cost %></td>
    	<td><%= @s.notes %></td>
  	</tr>
  	<% end %>
  	<% if @participant.soldier_6_type != "" %>
  	  <% @s = Soldier.find_by_class_name(@participant.soldier_6_type) %>
  	<tr>
    	<td><%= @participant.soldier_6_name %></td>
    	<td><%= @s.class_name %></td> 
    	<td><%= @s.move %></td>
    	<td><%= @s.fight %></td>
    	<td><%= @s.shoot %></td>
    	<td><%= @s.armour %></td>
    	<td><%= @s.will %></td>
    	<td><%= @s.health %></td>
    	<td><%= @s.cost %></td>
    	<td><%= @s.notes %></td>
  	</tr>
  	<% end %>
  	<% if @participant.soldier_7_type != "" %>
  	  <% @s = Soldier.find_by_class_name(@participant.soldier_7_type) %>
  	<tr>
    	<td><%= @participant.soldier_7_name %></td>
    	<td><%= @s.class_name %></td> 
    	<td><%= @s.move %></td>
    	<td><%= @s.fight %></td>
    	<td><%= @s.shoot %></td>
    	<td><%= @s.armour %></td>
    	<td><%= @s.will %></td>
    	<td><%= @s.health %></td>
    	<td><%= @s.cost %></td>
    	<td><%= @s.notes %></td>
  	</tr>
  	<% end %>
  	<% if @participant.soldier_8_type != "" %>
  	  <% @s = Soldier.find_by_class_name(@participant.soldier_8_type) %>
  		<tr>
    		<td><%= @participant.soldier_8_name %></td>
    		<td><%= @s.class_name %></td> 
    		<td><%= @s.move %></td>
    		<td><%= @s.fight %></td>
    		<td><%= @s.shoot %></td>
    		<td><%= @s.armour %></td>
    		<td><%= @s.will %></td>
    		<td><%= @s.health %></td>
    		<td><%= @s.cost %></td>
    		<td><%= @s.notes %></td>
  		</tr>
  	<% end %>
  	<% if @participant.soldier_9_type != "" %>
  	  <% @s = Soldier.find_by_class_name(@participant.soldier_9_type) %>
  	<tr>
    	<td><%= @participant.soldier_9_name %></td>
    	<td><%= @s.class_name %></td> 
    	<td><%= @s.move %></td>
    	<td><%= @s.fight %></td>
    	<td><%= @s.shoot %></td>
    	<td><%= @s.armour %></td>
    	<td><%= @s.will %></td>
    	<td><%= @s.health %></td>
    	<td><%= @s.cost %></td>
    	<td><%= @s.notes %></td>
  	</tr>
  	<% end %>
  	<% if @participant.soldier_10_type != "" %>
  	  <% @s = Soldier.find_by_class_name(@participant.soldier_10_type) %>
  		<tr>
    		<td><%= @participant.soldier_10_name %></td>
    		<td><%= @s.class_name %></td> 
    		<td><%= @s.move %></td>
    		<td><%= @s.fight %></td>
    		<td><%= @s.shoot %></td>
    		<td><%= @s.armour %></td>
    		<td><%= @s.will %></td>
    		<td><%= @s.health %></td>
    		<td><%= @s.cost %></td>
    		<td><%= @s.notes %></td>
  		</tr>
  <% end %>
</table>

<% if @participant.user_id == current_user.id %>
  <%= link_to "Update this Warband", edit_frost_grave_participant_path(@participant.id), class: "btn btn-lg btn-primary" %>
  <%= link_to "Delete this Warband", delete_frostgrave_participant_path(:id => @participant.id), method: :delete,
                                       data: { confirm: "You sure?" }, class: "btn btn-lg btn-primary" %>
<% end %>
</div>
